@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.shop {
    margin: 20px;
    
}


.products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
}